.bg-color-primario{
  background-color: #ee5601;
}

.bg-color-primario-claro{
  background-color: #ff7e15;
}

.bg-color-secundario{
  background-color: #495867;
}

.text-color-secundario{
  color: #495867;
}


